<div class="page-header" data-parallax="true" style="background-image: url('assets/img/daniel-olahh.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h3>I'm here to create meaningful and lasting relationships with my clients.</h3>
                <h1>LET'S BUILD SOMETHING AMAZING TOGETHER</h1>
            <br />
            <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a> -->
            <button type="button" class="btn btn-outline-neutral btn-round" [routerLink]="['/contact']">Contact<i class="fa fa-angle-double-right" style="color:red"></i></button>
            <a download="Jyotheeswar_Chowdary_G" href="/assets\jyotheeswar_chowdary_G.pdf"  placement="bottom" ngbTooltip="Download Resume..."  class="btn btn-outline-neutral btn-round" target="blank_url" ><i class="fa fa-arrow-circle-down fa-1x" aria-hidden="true"></i></a>

            <!-- <button type="button" class="btn btn-outline-neutral btn-round" [routerLink]="['/contact']">Download<i class="fa fa-angle-double-down" style="color:red"></i></button> -->

        </div>
    </div>
</div>
<div class="main">
    <div class="section text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 mr-auto ml-auto">
              <!-- <hr>
              <h3>Data Obtained</h3><br />
              <input type="text" value={{hi}}><br />
                <a *ngFor="let hero of user">
                  {{ hero.product_category_code }} </a>
                  <hr> -->
                <h2 class="title">Let's talk about what I have Done</h2>
                    <div class="tim-title">
                        <a  class="btn btn-danger btn-round"  [routerLink]="['/resume']">See Details</a>
                    </div>
            </div>
        </div>
        <br/><br/>
        <div class="row">
            <div class="col-md-3">
            <div class="info">
                <div class="icon icon-danger">
                    <i class="fa fa-rocket" aria-hidden="true"></i>
                    <!-- <i class="nc-icon nc-bulb-63"></i> -->
                </div>
                <div class="description">
                    <h6 class="info-title">DevOps</h6>
                    <p class="description"> Kubernetes <i class='fa fa-certificate' style='color:blue;'></i> & Docker <i class='fab fa-docker' style='color:#7f7fef;'></i></p>
                 </div>
            </div>
            </div> 
            <div class="col-md-3">
                    <div class="info">
                        <div class="icon icon-danger">
                        <i class="fab fa-node-js" aria-hidden="true"></i>
                            <!-- <i class="nc-icon nc-bulb-63"></i> -->
                        </div>
                        <div class="description">
                            <h6 class="info-title">Backend</h6>
                            <p>NodeJS <i class="icon-nodejs" style="color: green;"></i> / Strongloop(Loopback) / NestJS / Python <i class="icon-python" style="color: red;"></i></p>
                         </div>
                    </div>
                </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                    <i class="fa fa-cloud" aria-hidden="true"></i>
                        <!-- <i class="nc-icon nc-bulb-63"></i> -->
                    </div>
                    <div class="description">
                        <h6 class="info-title">AWS & GCP</h6>
                        <p><i class='fab fa-aws' style="color: #fa9600;"></i>/GCP (EC2, RDS, S3 & Firebase)</p>
                     </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                    <i class="fab fa-bitbucket" aria-hidden="true"></i>
                        <!-- <i class="nc-icon nc-bulb-63"></i> -->
                    </div>
                    <div class="description">
                        <h6 class="info-title">Bitbucket</h6>
                        <p>Version Control ( GIT ) <i class='fab fa-git-square'></i></p>
                     </div>
                </div>
            </div>
        </div>
        <br /><br />
        <div class="row">
        <div class="col-md-3">
            <div class="info">
                <div class="icon icon-danger">
                  <i class="fa fa-database" aria-hidden="true"></i>
                    <!-- <i class="nc-icon nc-bulb-63"></i> -->
                </div>
                <div class="description">
                    <h6 class="info-title">DATABASE</h6>
                    <p class="info-title">MYSQL<i class="icon-mysql" style="color: rgb(102, 102, 226);"></i> / MongoDB<i class="icon-mongodb" style="color: green;"></i>
                        / PostgreSQL<i class="icon-postgres" style="color: blue;"></i>/ Neo4J <i class='icon-graphql' style='color:#de33a6;'></i></p>
                 </div>
            </div>
        </div>
        <div class="col-md-3">
                <div class="info">                    
                    <div class="icon icon-danger">
                        <i class="fa fa-code" aria-hidden="true"></i>
                       <!-- <i class="nc-icon nc-bulb-63"></i> -->
                     </div> 
                    <div class="description">
                        <h6 class="info-title">Web Dev</h6>
                        <p class="description"> Angualar <i class='fab fa-angular' style='color:red;'></i>/React <i class='fab fa-react' style='color:blue;'></i></p>
                     </div>
                </div>
            </div>
        <div class="col-md-3">
            <div class="info">
                <div class="icon icon-danger">
                  <i class="fab fa-android" aria-hidden="true"></i> + 
                  <i class="fab fa-apple" aria-hidden="true"></i>
                    <!-- <i class="nc-icon nc-album-2"></i> -->
                </div>
                <div class="description">
                    <h6 class="info-title">Mobile APP</h6>
                    <p class="description">Using Ionic Framework to build Android / IOS Application</p>
                 </div>
            </div>
            </div>
            <div class="col-md-3">
                <div class="info">
                    <div class="icon icon-danger">
                      <i class="fa fa-credit-card" aria-hidden="true"></i>&nbsp;&nbsp;
                        <i class="fa fa-credit-card" aria-hidden="true"></i>
                        <!-- <i class="nc-icon nc-bulb-63"></i> -->
                    </div>
                    <div class="description">
                        <h6 class="info-title">Payment/ Wallet API's integrations</h6>
                        <p>CCavenue/ paytm/ Oxizen api Integrations in Node.js</p>
                     </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="section section-dark text-center">
    <div class="container">
        <h2 class="title">Let's talk about me</h2>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#avatar"><img src="assets/img/faces/g66.jpg" alt="..."></a>
                    </div>
                    <div class="card-block">
                        <a href="#paper-kit">
                            <div class="author">
                                <h4 class="card-title">G Jyotheeswar Chowdary</h4>
                                <h6 class="card-category">FULL STACK DEVELOPER</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                        Teamwork is so important that it is virtually impossible for you to reach the heights of your capabilities or make the money that you want without becoming very good at it.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="https://twitter.com/chodary1" class="btn btn-link btn-just-icon btn-neutral" rel="tooltip" title="Tweet!" target="blank_url"><i class="fab fa-twitter"></i></a>
                        <a href="//api.whatsapp.com/send?phone=+919700788443&text=Hi..."  target="blank_url" style="color: white;" title="Whatsapp..!" target="blank_url"><i class="fab fa-whatsapp"></i></a>
                        <a href="https://www.linkedin.com/in/g-jyotheeswar-chowdary-208756ba/" class="btn btn-link btn-just-icon btn-neutral"><i class="fab fa-linkedin" rel="tooltip" title="Linkedin!" target="blank_url"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <div class="section landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 mr-auto ml-auto">
                    <h2 class="text-center">Keep in touch?</h2>
                    <form class="contact-form">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Name</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-single-02"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Name">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <label>Email</label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="nc-icon nc-email-85"></i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="Email">
                                </div>
                            </div>
                        </div>
                        <label>Message</label>
                        <textarea class="form-control" rows="4" placeholder="Tell us your thoughts and feelings..."></textarea>
                        <div class="row">
                            <div class="col-md-4 mr-auto ml-auto">
                                <button class="btn btn-danger btn-lg btn-fill">Send Message</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
