
<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('assets/img/fabio-mangione.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="motto text-center">
                <!-- <h3>I'm here to create meaningful and lasting relationships with my clients.</h3> -->
                    <h1>MY PASSIONS AND PERSONALITY</h1>
                    <h5>Discover who I am as a person aside from being a developer</h5>
                <br/>
                <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a> -->
                <!-- <button type="button" class="btn btn-outline-neutral btn-round">Contact</button> -->
            </div>
        </div>
    </div>
    <div class="section profile-content">
        <div class="container">
            <div class="owner">
                <div class="avatar">
                    <img src="assets/img/faces/g44.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
                </div>
                <div class="name">
                    <h4 class="title">G Jyotheeswar Chowdary</h4><br />
                    <h6 class="description">Developer</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <p>I'm passionate about making a difference. When I'm involved with a project at work, I want to do my best to achieve success. I feel the same way about what I do in my personal life.</p>
                    <br />
                    <!-- <a download="Jyotheeswar_Chowdary_G" href="/assets\jyotheeswar_chowdary_G.pdf"   class="btn btn-outline-neutral btn-round" target="blank_url" >Resume <i class="fa fa-arrow-circle-down fa-1x" aria-hidden="true"></i></a> -->
                    <a class="btn btn-outline-default btn-round" download="Jyotheeswar_Chowdary_G" target="blank_url" href="/assets\jyotheeswar_chowdary_G.pdf"><i class="fa fa-sticky-note" aria-hidden="true"></i> RESUME</a>
                    <a class="btn btn-outline-default btn-round" href="https://github.com/GJCHOWDARY" target="blank_url"><i class="fa fa-certificate" aria-hidden="true"></i> GITHUB</a>
                </div>
            </div>
        </div>
    </div>
</div>
