<div class="wrapper">
    <div class="page-header" data-parallax="true" style="background-image: url('assets/img/login-image.jpg');">
      <div class="filter"></div>
      <div class="container">
          <div class="motto text-center">
              <h3>Reach out and send a friendly hello</h3>
                  <h1>LET'S HAVE A CHAT</h1>
              <br /><br />
              <i class="fa fa-arrow-circle-down fa-4x" aria-hidden="true"></i>
              <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a> -->
              <!-- <button type="button" class="btn btn-outline-neutral btn-round">Contact</button> -->
          </div>
      </div>
    </div>
    <div class="section">
        <div class="container text-center">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title">Do you like what you see?</h2>
                    <a class="btn btn-warning btn-round" href="tel:9700788443"  ngbTooltip="Have a Call...!"  target="blank_url">Contact me today</a><br/>
                    <p>Please feel free to reach out to me if you have any questions. Also, you could always just send me a <b>friendly hello</b>.</p>
                 </div>
            </div>
            <div class="row">
                <div class="col-md-6 download-area ml-auto mr-auto">
                    <a href="//api.whatsapp.com/send?phone=+919700788443&text=Hi..."  target="blank_url" ngbTooltip="Have a Chat...!"> 
                        <h6  style="color: green;"><i class="fab fa-whatsapp" aria-hidden="true"></i>+91 9700788443</h6></a>
                        <a href="mailto:chowdary716@gmail.com"  target="blank_url" ngbTooltip="Send Email...!">
                         <div class="icon icon-danger">
                            <h6><i class="fa fa-envelope" aria-hidden="true"></i> chowdary716@gmail.com</h6>
                        </div>
                    </a>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="text-center col-md-12 col-lg-8">
                    <h6><b>Thank you...</b></h6>
                </div><br />
                <div class="text-center col-md-12 col-lg-8 sharing-area">
                    <a href="https://twitter.com/chodary1" class="btn btn-twitter-bg twitter-sharrre btn-round" rel="tooltip" title="Tweet!" target="blank_url">
                        <i class="fab fa-twitter"></i> Twitter
                    </a>
                    <a href="https://in.linkedin.com/in/g-jyotheeswar-chowdary-208756ba" class="btn btn-google-bg linkedin-sharrre btn-round" rel="tooltip" title="LinkedIn!" target="blank_url">
                        <i class="fab fa-linkedin"></i> Linkedin
                    </a>
                    <a href="https://www.facebook.com/jyotheeswar.chowdary" class="btn btn-facebook-bg facebook-sharrre btn-round" rel="tooltip" title="facebook!" target="blank_url">
                        <i class="fab fa-facebook-square"></i> Facebook
                    </a>
                    <a href="https://github.com/GJCHOWDARY" class="btn btn-github-bg btn-github sharrre btn-round" rel="tooltip" title="Star on Github" target="blank_url">
                        <i class="fab fa-github"></i> Star
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
