
<div class="wrapper">
    <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('assets/img/ilya-yakover.jpg');">
        <div class="filter"></div>
        <div class="container">
            <div class="motto text-center">
                <!-- <h3>I'm here to create meaningful and lasting relationships with my clients.</h3> -->
                    <h1>LET'S TALK ABOUT WHAT I HAVE DONE</h1>
                    <!-- <h5>Discover who I am as a person aside from being a developer</h5> -->
                <br/>
                <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a> -->
                <!-- <button type="button" class="btn btn-outline-neutral btn-round">Contact</button> -->
            </div>
        </div>
    </div>
    <div class="section profile-content">
      <div class="container">
        <div class="owner">
            <div class="avatar">
                <img src="assets/img/faces/g44.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
            </div>
            <div class="name">
                <h4 class="title">G Jyotheeswar Chowdary</h4>
                <h6 class="description">Full Stack Developer</h6>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 ml-auto mr-auto text-center">
                <p>This project is an Ecommerce Application, A product of Habiliter Technologies PVT LTD (Chennai), In this project we are showing nearby Deals / Offers to User and give Cashback to user on every Deal purchase. User can purchase Deals through Mobile App(Shopaye) on Merchant Store. Merchant can give Deals / Offers through Shopaye Merchant Panel.</p>
               </div>
        </div><br />
      </div>
      <!--Mobile App  -->
      <div class="owner">
      <div class="name">
        <h1 class="description">Mobile App</h1>
        </div>
    </div>
    <div class="section profile-content">
      <div class="container">
          <div class="row">
            <div class="col-sm-4 col-lg-4">
              <div class="name">
                <h4 class="title">&emsp;&emsp;&emsp;&emsp;landing Screen</h4>
                </div>
              <img src="assets/img/mlanding.png" style="width:100%">
          </div>
             <div class="col-sm-4 col-lg-4">
               <div class="name">
                 <h4 class="title">&emsp;&emsp;&emsp;&emsp;Result Screen</h4>
                 </div>
              <img src="assets/img/mresult.png" style="width:100%">
          </div>
             <div class="col-sm-4 col-lg-4">
               <div class="name">
                 <h4 class="title">&emsp;&emsp;&emsp;&emsp;QR Scan Screen</h4>
                 </div>
              <img src="assets/img/mscan.png" style="width:100%">
          </div>
        </div>
        <div class="row">
           <div class="col-sm-4 col-lg-4">
             <div class="name">
               <h4 class="title">&emsp;&emsp;&emsp;&emsp;Upload Screen</h4>
               </div>
              <img src="assets/img/mupload.png" style="width:100%">
          </div>
          <div class="col-sm-4 col-lg-4">
            <div class="name">
              <h4 class="title">&emsp;&emsp;&emsp;&emsp;Single Deal Screen</h4>
              </div>
             <img src="assets/img/msingle.png" style="width:100%">
         </div>
         <div class="col-sm-4 col-lg-4">
           <div class="name">
             <h4 class="title">&emsp;&emsp;&emsp;&emsp;Earning Screen</h4>
             </div>
            <img src="assets/img/Earning.png" style="width:100%">
        </div>
        </div>
      </div>
      </div>
      <!-- web app -->
      <div class="owner">
      <div class="name">
        <!-- <h1 class="description">Web App</h1>
          <h4 class="title">1. Landing Page</h4>
       </div> -->
    </div>
    <div class="section profile-content">
      <div class="container">
          <div class="row">
            <div class="col-md-10 ml-auto mr-auto text-center">
              <img src="assets/img/landing.jpg" style="width:100%">
          </div>
        </div>
      </div>
      </div>
      <div class="owner">
      <!-- <div class="name">
          <h4 class="title">2. Search Page</h4>
       </div>
    </div> -->
      <div class="section profile-content">
        <div class="container">
            <div class="row">
              <div class="col-md-10 ml-auto mr-auto text-center">
                 <img src="assets/img/search.jpg" style="width:100%">
           </div>
          </div>
        </div>
        </div>
        <div class="owner">
        <!-- <div class="name">
            <h4 class="title">3. Cart Page</h4>
         </div> -->
      </div>
        <div class="section profile-content">
          <div class="container">
              <div class="row">
                <div class="col-md-10 ml-auto mr-auto text-center">
                <img src="assets/img/cart.jpg" style="width:100%">
            </div>
            </div>
          </div>
          </div>
</div>
</div>
