<div class="page-header" data-parallax="true" style="background-image: url('assets/img/login-image.jpg');">
    <div class="filter"></div>
    <div class="container">
        <div class="motto text-center">
            <h3>I'm here to create meaningful and lasting relationships with my clients.</h3>
                <h1>LET'S BUILD SOMETHING AMAZING TOGETHER</h1>
            <br />
            <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a> -->
            <button type="button" class="btn btn-outline-neutral btn-round" [routerLink]="['/contact']">Contact<i class="fa fa-angle-double-right" style="color:red"></i></button>
        </div>
    </div>
</div>
