<div class="wrapper">
  <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
    <div class="filter"></div>
    <div class="content-center">
      <div class="container">
        <div class="title-brand">
          <!-- <div class="angular-logo">
          <img src="assets/img/angular2-logo.png" alt="">
        </div> -->
        <h5 class="presentation-subtitle text-center">Find out what I've accomplished over the years</h5>
        <!-- <h3 class="presentation-title">DIG A LITTLE DEEPER</h3> -->
        <h1  class="creative-tim-logo">DIG A LITTLE DEEPER</h1>
        <div class="fog-low">
          <img src="assets/img/fog-low.png" alt="">
        </div>
        <div class="fog-low right">
          <img src="assets/img/fog-low.png" alt="">
        </div>
        <br/>
        <a download="Jyotheeswar_Chowdary_G" href="/assets\jyotheeswar_chowdary_G.pdf"   class="btn btn-outline-neutral btn-round" target="blank_url" >Resume <i class="fa fa-arrow-circle-down fa-1x" aria-hidden="true"></i></a>
      </div>
    </div>
  </div>
  <div class="moving-clouds" style="background-image: url('assets/img/clouds.png'); "></div>
</div>
<div class="main">
  <!-- <app-components></app-components> -->
  <div class="section section-buttons">
    <div class="container">
      <div class="row">
        <div class="col-sm-6 col-lg-4">
          <div class="tim-title">
            <h3>Professional Summary</h3>
          </div>
        </div>
        <div class="col-sm-6 col-lg-8">
          <div class="tim-title">
            <h6>FULL STACK / (NODE.JS, Angular, React)</h6>
          </div>
          <div class="form-check-radio">
             <p><b>*</b> Having <b>{{year}}+</b> Years of experience in developing web based, client/server applications using NODEJS/Angular/React technologies environment.</p>
             <p><b>*</b> Strong technical experience in NODEJS, Angular, React ,AWS(Amazon Web Services), MogoDB (Mongoose), MYSQL & PostgreSQL technologies.</p>
             <p><b>*</b> Good understanding of Software Development Life Cycle (SDLC) process in the areas of Analysis, Design, Development, Implementation and Testing of Software Applications.
                Committed team player with strong analytical and problem solving skills and ability to quickly adapt to new environments and technologies.</p>
          </div>
        </div>
       </div>
  <div class="row">
    <div class="col-sm-6 col-lg-4">
      <div class="tim-title">
        <h3>Professional Experience</h3>
      </div>
    </div>
    <div class="col-sm-6 col-lg-8">
      <!-- <div class="tim-title">
        <h6>DEVELOPER</h6>
      </div> -->
      <br>
      <div class="form-check-radio">
        <label ><h6>
          Valuefy Technologies Pvt Ltd.</h6>
         </label><br>
         <label >
          <a  href="http://www.valuefy.com">Valuefy Technologies Pvt Ltd.</a> (United Kingdom | Singapore | India | Dubai) ,Jun 2022 – Present
          </label><br >
         <p>Tech Lead / Full Stack</p>
         <a href="">
          Wealth Manager,
          Banks,
          Family Offices & Fintech Projects.</a>
      </div>
      <br>
      <div class="form-check-radio">
        <label ><h6>
          SmartERP Consulting India Pvt Ltd.</h6>
         </label><br>
         <label >
          <a  href="https://www.smarterp.com/">SmartERP Consulting India Pvt Ltd.</a><a href="https://www.appknit.com/"> / Appstitch Technologies Pvt Ltd.</a>, Bangalore, Jan 2019 – Jun 2022
          </label><br >
         <p>Consultant / Full Stack.</p>
         <a href="https://www.appknit.com/">AppKnit</a>,<br>
         <a href="https://www.mankindpharma.com/">Mankind</a>,<br>
         <a href="">SmartML</a>,<br>
         <a href="https://www.boehringer-ingelheim.com/"> LDH DB Editor for boehringer-ingelheim</a>,<br>
         <a href="https://smarthrm-7a9fb.web.app/" target="blank_url">SmartHRM</a> , <a href="https://courierapp-311614.web.app/" target="blank_url">Courier App</a> & <a href="https://chatapp-4ec84.web.app/" target="blank_url">Chat App</a>  ...
      </div>
      <br>
      <div class="form-check-radio">
        <label ><h6>
           Develop Scripts LLC. / auctionsoftware.com</h6>
         </label><br>
         <label >
          <a  href="http://developscripts.com/">Develop Scripts LLC.</a>, Chennai, Jan 2018 – Jan 2019
          </label><br >
         <p>Working  as Lead Developer for all Server side(NodeJS)/web design(Angular/React) projects.</p>
         <a href="http://pipemarket.com/">Pipe Market</a>,<br>
         <a href="https://auggeo.com/">Auggeo.com</a>, <br>
         <a href="https://www.slibuy.com/">Slibuy.com</a>,<br>
         <a href="https://sosrx.com/">Sosrx.com</a> & <a href="http://bargainwizz.com/">bargainwizz ....</a>
         <br>
      </div>
      <br>
      <div class="form-check-radio">
        <label><h6>
           HABILITER TECHNOLOGIES PVT LTD.</h6>
         </label><br/>
         <label>
          <a href="http://habilitertechnologies.com/">habilitertechnologies.com</a>, Chennai, August 2016 – Jan 2018 
          </label><br/>
          <a href="#">Shopaye.com (Shop + Pay & Earn)</a> <br />
          <br/>
         <p>Acted as Lead Developer for all Server side(Node.js)/web design(Angularjs) projects. Worked closely with the Creative Director and Marketing Manager to coordinate timelines and develop project strategies. Organized all Server side API's/ web design operations and mentored a growing team of developers. Managed small and large scale projects, making sure expectations were surpassed and timelines were met. Experienced in programming, debugging and problem solving across a variety of open source platforms.</p>
      </div>
    </div>
   </div>
   <div class="row">
     <div class="col-sm-6 col-lg-4">
       <div class="tim-title">
         <h3>Technologies</h3>
       </div>
     </div>
     <div class="col-sm-6 col-lg-4">
       <div class="tim-title">
         <h6>DAY-TO-DAY COMFORT</h6>
       </div>
       <div class="form-check-radio">
         <label class="form-check-label">
           <h6>GRUNT / WEBPACK</h6>
          </label>
       </div>
       <div class="form-check-radio">
         <label class="form-check-label">
           <h6>HTML5/CSS5 (limited)</h6>
          </label>
       </div> 
       <div class="form-check-radio">
         <label class="form-check-label">
            <h6>TypeScript/JavaScript/JQuery</h6>
          </label>
       </div>
       <div class="form-check-radio">
         <label class="form-check-label">
            <h6>Version Control ( GIT )</h6>
          </label>
       </div>
     </div>
     <div class="col-sm-6 col-lg-4">
       <div class="tim-title">
         <h6>EXPERIENCE WITH</h6>
       </div>
       <div class="form-check-radio">
         <label class="form-check-label" style="color: red;">
            <h6>NodeJS</h6>
          </label>
       </div>
       <div class="form-check-radio">
         <label class="form-check-label">
            <h6>Angular/React</h6>
          </label>
       </div>
       <div class="form-check-radio">
         <label class="form-check-label">
            <h6>AWS</h6>
          </label>
       </div>
       <div class="form-check-radio">
         <label class="form-check-label">
            <h6>MYSQL/MongoDB/PostgreSQL/Neo4J</h6>
          </label>
       </div>
       <div class="form-check-radio">
         <label class="form-check-label">
            <h6>Ionic Framework</h6>
          </label>
       </div>
       <div class="form-check-radio">
         <label class="form-check-label">
            <h6>Strongloop/Loopback/NestJs</h6>
          </label>
       </div>
  </div>
</div>
   <div class="row">
     <div class="col-sm-6 col-lg-4">
       <div class="tim-title">
         <h3>Education</h3>
       </div>
     </div>
     <div class="col-sm-6 col-lg-8">
       <div class="tim-title">
         <!-- <h6>DEVELOPER</h6> -->
       </div>
       <div class="form-check-radio">
         <h6>
             MASTER OF COMPUTER APPLICATIONS - (MCA).
         </h6>
          <p>Sri Venkateswara Colllege of Engineering and Technology, 2013 - 2016</p>
          <label>79.5%</label>
       </div>
       <div class="form-check-radio">
         <h6>
             Degree - (MPCS).
         </h6>
          <p>Vijayam Degree College, 2010 - 2013</p>
          <label>76.08%</label>
       </div>
       <div class="form-check-radio">
         <h6>
             INTERMEDIATE - (MPC).
         </h6>
          <p>Vidhyarthi Junior College, 2013 - 2016</p>
          <label>56.76%</label>
       </div>
       <div class="form-check-radio">
         <h6>
             S.S.C.
         </h6>
          <p>Royal English Medium High School, 2008</p>
          <label>79.78%</label>
       </div>
     </div>
    </div>
  </div>
 </div>
 <!-- <div class="page-header" data-parallax="true" style="background-image: url('assets/img/daniel-olahh.jpg');">
     <div class="filter"></div>
     <div class="container">
         <div class="motto text-center">
             <h3>I'm here to create meaningful and lasting relationships with my clients.</h3>
                 <h1>LET'S BUILD SOMETHING AMAZING TOGETHER</h1>
             <br />
              <button type="button" class="btn btn-outline-neutral btn-round" [routerLink]="['/contact']">Contact<i class="fa fa-angle-double-right" style="color:red"></i></button>
         </div>
     </div>
 </div> -->

 <div class="wrapper">
  <div class="page-header page-header-xs" data-parallax="true" style="background-image: url('assets/img/ilya-yakover.jpg');">
      <div class="filter"></div>
      <div class="container">
          <div class="motto text-center">
              <!-- <h3>I'm here to create meaningful and lasting relationships with my clients.</h3> -->
                  <h1>LET'S TALK ABOUT WHAT I HAVE DONE</h1>
                  <!-- <h5>Discover who I am as a person aside from being a developer</h5> -->
              <br/>
              <!-- <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" class="btn btn-outline-neutral btn-round"><i class="fa fa-play"></i>Watch video</a> -->
              <!-- <button type="button" class="btn btn-outline-neutral btn-round">Contact</button> -->
          </div>
      </div>
  </div>
  <div class="section profile-content">
    <div class="container">
      <div class="owner">
          <div class="avatar">
              <img src="assets/img/faces/g44.jpg" alt="Circle Image" class="img-circle img-no-padding img-responsive">
          </div>
          <div class="name">
              <h4 class="title">G Jyotheeswar Chowdary</h4>
              <h6 class="description">Full Stack Developer</h6>
          </div>
      </div>
      <div class="row">
          <div class="col-md-10 ml-auto mr-auto text-center">
              <p>
                Lead Developer for all Server side (NodeJS)/web design (Angular/React) projects. Worked closely with the Creative Director and Marketing Manager to coordinate timelines and develop project strategies. Organized all Server-side API's/ web design operations and mentored a growing team of developers. Experienced in programming, debugging and problem solving across a variety of open source platforms.
               </p>
             </div>
      </div><br />
    </div> 
  </div>
</div>
