<div class="page-header section-dark"  style="background-image: url('assets/img/mini.jpg')">
  <div class="filter snow2"></div>
  <div class="content-center ">
    <div class="container">
      <div class="title-brand">
        <!-- <div class="angular-logo">
        <img src="assets/img/angular2-logo.png" alt="">
      </div> -->
      <br/>
      <br/>
      <br/>
      <h3>May this new year bring all the crazy colors and fun in your life.</h3>
      <h5 class="presentation-subtitle text-center" ></h5>
        <h2  class="creative-tim-logo wrap text animated rollIn">WISH YOU</h2>
       <h2  class="creative-tim-logo wrap text animated rollIn ">A</h2>
      <h2  class="creative-tim-logo wrap text animated rollIn">VERY</h2>
      <h2  class="creative-tim-logo wrap text animated rollIn">HAPPY</h2>
      <h1  class="creative-tim-logo wrap text animated swing ">NEW YEAR</h1>
     <h1  class="creative-tim-logo wrap text animated lightSpeedIn"><i class="fa fa-smile-o icon icon-danger shake" aria-hidden="true"></i> &nbsp; 2018 <i class="fa fa-smile-o icon icon-danger shake" aria-hidden="true"></i></h1>
      <div class="fog-low">
        <img src="assets/img/fog-low.png" alt="">
      </div>
      <div class="fog-low right">
        <img src="assets/img/fog-low.png" alt="">
      </div>
      <br/>
     </div>
  </div>
</div>
<div class="moving-clouds " style="background-image: url('assets/img/clouds.png'); "></div>
</div>
